/* Fonts */
@font-face { font-family: "Floris"; src: url('../fonts/Floris.otf'); }
@font-face { font-family: "Frog"; src: url('../fonts/Frog.otf'); }

* {
	margin: 0px;
	padding: 0px; 
	outline: 0;
	margin:0 auto;
}

body {
	background-color: #003C43;
}

#nav {
	max-width: 100%;
	text-align:center;
	font-size:0.5em;
	z-index:1;
	display:block;
	background: -webkit-linear-gradient(left, #003C43 15%, #77B0AA 50%, #003C43 85%);
}

.container {
	max-width: 80%;
	margin: 3% auto;
	padding: 20px;
	background-color: #E3FEF7;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
	box-shadow: 0 10px 35px rgba(0, 0, 0, 1.5);
}

.menu ul {
	display: none;
	width: 100%;
	position: absolute;
	li {
		display: block;

		a {
			background:#77B0AA;
			opacity:1;
		}

		a:hover {
			transition: 0.1s;
			background:#003C43;
			color:#E3FEF7;
		}
	}
}

.menu li {
	display: inline-block;
	position: relative;
	a {
		display: block;
		text-decoration: none;
		padding: 1vw;
	}
}

.menu li:hover > ul {
	display: block;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	img {
	    margin: 1.2vw;
	    max-width: 30%;
	    display: block;
	}
	
	img.horizontal {
		max-width: 46.6%;
	}
}

h1 {
	font: 10vw Floris !important;
	text-align:center;
	color: #E3FEF7;
}

h2 {
	font: 4vw Frog !important;
	text-align:center;
	color: #003C43;
}

h3 {
	font: 3vw Frog !important;
	text-align:center;
	color: #003C43;
}

a {
	font: 2.8vw Frog !important;
	text-align:center;
	color: #E3FEF7;
}

/* Menu de navegacion que sigue al scroll */
.menu-sticky {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
}
